.login-page,
.register-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  .login-container,
  .register-container {
    margin-top: 10rem;
    // border: 1px solid red;
    width: min-content;
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;

    .form-container {
      display: flex;
      flex-direction: column;

      .input {
        width: 12rem;
        margin-bottom: 10px;
        height: 1.2rem;
      }

      .label {
        font-size: 1.3rem;
        margin-bottom: 10px;
        text-align: center;
      }

      .btn {
        align-self: center;
        margin: 10px 0;
        width: 5rem;
        height: 1.3rem;
        cursor: pointer;
      }
    }

    .link {
      text-decoration: none;
      color: #ea4f4c;
    }
    .link:hover {
      color: #00adb5;
    }
  }
}
