.home-page-container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  
  .posts-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .uploadPostContainer {
    width: 48%;
    height: min-content;
    margin: 20px 0;
  }
}
