.home-page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  .posts-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }

  .uploadPostContainer{
    border: 1px solid green;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
