$black_color: #2a2a2a;
$yellow_color: #faec00;
$white_color: #eeeeee;
$red_color: #ea4f4c;
.navBar {
  z-index: 1000;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  background: $black_color;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222831;
  .items {
    cursor: pointer;
    text-decoration: none;
    margin: 0 20px;
    color: $white_color;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .item:hover {
    color: $red_color;
  }
  .right {
    margin-right: 10px;
    display: flex;
  }
  .left {
    margin-left: 10px;
  }
  .logo{
    .me {
      transition: all 0.3s ease-in-out;
      color: $red_color;
    }
  }

  .logo:hover{
    .me{
      color: $white_color;
    }
  }
}
