.card {
  position: relative;

  .user-link {
    text-decoration: none;
    color: black;
  }

  .user-link:hover {
    color: #00adb5;
    text-decoration: underline;
  }

  .crud-post-options {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;

    i {
      cursor: pointer;
    }
    #delete-icon {
      margin-right: 10px;
      color:#D84646;
    }
    #edit-icon {
      color: rgba(0, 0, 0, 0.822);
    }
    #delete-icon:hover {
      color:#D84646;
    }
    #edit-icon:hover {
      color: rgb(0, 0, 0);
    }
  }
}

.updatePost-card {
  position: fixed;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
  z-index: 10;

  .text-field-title{
    width: 40%;
    margin: 0 auto 10px auto;
  }

  .text-field-content{
    width:90%;
    margin: 0 auto 18px auto;
  }

  .btn{
    width: min-content;
    margin: 0 auto;
  }

  i {
    cursor: pointer;
    margin: 6px;
    width: min-content;
  }
  i:hover {
    color: red;
  }
  .title {
    margin: 0 auto 20px auto;
  }
  #content {
    margin: 0 auto;
  }
}
